.navbar{
    padding:30px 10px 30px 10px;
    background-color: black;
    /* display: flex; */
    
}

.text{
    font-size: 40px;
    color: white;
    text-decoration: none;
    margin-left: 40px;
    
}
.text1{
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 800px;
}
.text2{
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 70px;
}
.text3{
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 70px;
}
.text4{
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 70px;
}
img{
    width:1815px;
    height:900px;
}
.text5{
    font-size: 20px;
    color: white;
    text-decoration: none;
    /* margin-left: 1400px; */
    /* margin-top: -100px; */
    margin-left: 70px;

   
    
}
