body{
	background-color:green;
	
}
.blue{
	background-color:skyblue;
	padding:40px 40px 40px 30px ;
	width:400px;
	margin:auto;
	margin-top:150px;
	border-radius:2px;
	
	
}
.display{
	padding:80px 10px 0px 50px ;
	background-color:white;
	margin:0px 10px 0px 13px;
}
.numbers{
	
	display:flex;
	margin-top:15px;
	
}
.number{
	padding:40px ;
	background-color:white;
	margin-left:10px;
}
.Yellow{
	background-color:yellow;
}

.Red{
	background-color:red;
}
.space{
	padding:42px;
}



