#a{
	height:700px;
	width:560px;
	margin-left:400px;
	border:50px solid green;
	margin-top:100px;
	
}
.b{
	height:700px;
	width:560px;
	background-color:#00A1c9;
	border-radius:5px;
	margin-top:-20px;
	padding-top:10px;
	padding-bottom:10px;
}
.r{
	height:120px;
	width:500px;
	background-color:white;
	margin-left:25px;
	margin-top:20px;
	padding-top:10px;
}
.z{
	display:flex;
}
.s{
	height:90px;
	width:100px;
	background-color:white;
	margin-left:30px;
	margin-top:30px;
	
}
.p{
	height:90px;
	width:100px;
	background-color:white;
	margin-left:30px;
	margin-top:30px;
	background-color:yellow;
}
.g{
	height:90px;
	width:100px;
	background-color:white;
	margin-left:30px;
	margin-top:30px;
	background-color:pink;
	
}
h1{
	padding-bottom:30px;
	font-size:40px;
	padding-left:40px;
}
