body{
    background-color:  white;
    /* background-image: url("https://tse2.mm.bing.net/th?id=OIP.0MzxduvetkDNFMi_5LaZJwHaEo&pid=Api&P=0"); */
}
#box{
    height:700px;
    width:60%;
    margin-left: 350px;
    /* border:1px solid blue; */
    display: flex;
    margin-top: 100px;
    
}
.left{
        height:700px;
        width:600px;
        /* border:1px solid red;  */
        background-image: url("https://tse1.mm.bing.net/th?id=OIP.qyqxFmEvAVJI4eFIlyAahAHaFj&pid=Api&P=0");
        border-radius: 10px;
        background-size: cover;
}
.right{
    height:680px;
    width:600px;
    /* border:1px solid red; */
    margin-left: 1px;
    border-radius: 5px; 
    padding-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    /* background-image: url("https://tse2.mm.bing.net/th?id=OIP.n8Dc9ZKr_0up2cum4qF7EwHaEo&pid=Api&P=0"); */
    
}
h2{
    
    font-size: 27px;
    height:25px;
    width:130px;
    margin-left: 30px;
    margin-top: 10px;
    /* text-align: center;  */
    text-align: left; 
    
    
}
h1{
    margin-top: 10px;
    margin-left: 30px;
    width:130px;
    text-align: left;

    
}
.page{
    margin-left: 30px;
    height: 50px;
}
.page1{
    margin-left: 120px;
    height: 50px;
    border-radius: 5px;
}
.right input{
    height:50px;
    width:350px;
    border-radius: 7px;
    font-size: 20px;
    
    
    
}
p{
font-size: 20px;
margin-left: 80px;
margin-top: 30px;
font-family:Arial, Helvetica, sans-serif;
}
.btn{
    
    margin-left: 200px; 
    font-size: 20px;
    background-color:#00BFFF;
    border-radius: 5px;
    margin-top: 70px;
    margin-left: 50px;
    padding:2px 40px;
}
.a{
    text-decoration: none;
    /* color:black; */
    color: whitesmoke;
}
.p{
    text-decoration: none;
    margin-left:160px;
    font-size: 25px;
}
.login{
    margin-left: 170px;
    color:black; 
    font-size: 40px;
    /* color: whitesmoke; */
}
    

