body {
	margin : 0px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.first_nav{
	height:50px;
	width:100%;
	background-color:#6495ed;
	margin:auto;
	display:flex;
	
}
.nav_p{
	color:white;
	font-size:17px;
	margin-left:300px;
	
}
.mail{
	color:white;
	margin-left:300px;
	margin-top:10px;
	
}
.mail1{
	color:white;
	margin-left:20px;
	margin-top:10px;
	
}
.b{
	margin-right:200px;
	margin-top:30px;
	text-decoration:none;
}
.sec_nav{
	display:flex;
	justify-content:space-around;
	
}
.a1{
	margin-left:10px;
	margin-top:30px;
	text-decoration:none;
}
.response{
	margin-top:40px;
	margin-left:-250px;
	
	
}
.a{
	
	margin-top:30px;
	text-decoration:none;
}
.universe{
	margin-left:200px;
	text-decoration:none;
}
.Slide {
	width : 100%;
	height:200px;
	background-image:url("coffee1.jpg")
	
}
.box1{
	width:100%;
	height:1900px;
	border:1px solid black;
}
.box2{
	width:70%;
	height:700px;
	color:blue;
	margin-left:400px;
	margin-top:50px;
}
.box3{
	display:flex;
}
.box4{
	height:600px;
	width:450px;
	margin-left:30px;
	margin-top:10px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	border-radius:5px
	
}
.box4 img{
	height:250px;
	width:100%;
	border-radius:5px;
}
	
.box4 h2{
	margin-left:30px;
	margin-top:90px;
	color:#6495ed;
	font-size:20px;
}
.box4 p{
	margin-left:30px;
	color:#BFBFBD;
	margin-top:20px;
}
.box4 button{
	height:40px;
	width:120px;
	text-align:center;
	background-color:#6495ed;
	margin-top:20px;
	margin-left:30px;
	color:white;
	
}
.footer{
	width:100%;
	height:500px;
	background-color:black;
	display:flex;
}
.sub1{
	color:white;
	margin-left:250px;
	margin-top:80px;
}
.href{
	text-decoration:none;
}


