body {
	margin : 0px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.first_nav{
	height:50px;
	width:100%;
	background-color:#6495ed;
	margin:auto;
	display:flex;
	
}
.nav_p{
	color:white;
	font-size:17px;
	margin-left:300px;
	
}
.mail{
	color:white;
	margin-left:500px;
	margin-top:10px;
	
}
.mail1{
	color:white;
	margin-left:20px;
	margin-top:10px;
	
}
.sec_nav{
	display:flex;
	justify-content:space-around;
	
}
.a1{
	margin-left:10px;
	margin-top:30px;
	text-decoration:none;
}
.response{
	margin-top:60px;
	margin-left:-310px;
	
}
.a{
	margin-left:-10px;
	margin-top:30px;
	text-decoration:none;
}
.universe{
	margin-left:200px;
	text-decoration:none;
}
.homeimg{
	width:100%;
	height:600px;
}
.href{
	text-decoration:none;
}
.img{
	width:100%;
	
}
.slide{
	width:100%;
	height:300px;
        background-image: url("card-1.jpg");
	background-position: 50% 50%;
	background-size: cover;
}
.b{
	margin-right:200px;
	margin-top:30px;
	text-decoration:none;
}
.slide h1{
	color:white;
	font-size:60px;
	margin-left:400px;
}
.slide p{
	color:white;
	font-size:30px;
	margin-left:400px;
	margin-top:-40px;
}
.card{
	height:270px;
	width:300px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin-left:400px;
	background-color:white;
	margin-top:-100px;
	border-radius:5px;
}
.card h1{
	text-align:center;
	padding-top:30px;
}
.card p{
	margin-left:20px;
	
}
.mail{
	color:white;
	margin-left:30px;
	margin-top:10px;
	
}
.mail1{
	color:white;
	margin-left:20px;
	margin-top:10px;
}
.p{
	color:#6495ed;
}
.card1{
	display:flex;
}
.form-siri{
	height:650px;
	width:100%;
	background-color:#c4c3d0 ;
	margin-top:20px;
}
.form h1{
	margin-left:400px;
	margin-top:20px;
	font-size:40px;
	padding-top:70px;
}
.form h3{
	margin-left:400px;
	font-size:40px;
	margin-top:5px;
	color:#E6E6E3;
	
}
.form hr{
	margin-left:400px;
	font-size:40px;
	padding-top:-40px;
	color:#E6E6E3;
	width:200px;
	
}
.form1{
	display:flex;
}
.form1 input{
	height:45px;
	width:500px;
	margin-left:10px;
	margin-top:10px;
	border-radius:5px;
	text-align:left;
	font-size:20px;
	
}
#t{
	margin-left:400px;
	margin-top:10px;
}
#s{
	margin-left:400px;
	height:110px;
	width:1010px;
	border-radius:5px;
	margin-top:10px;
}
button{
	height:50px;
	width:130px;
	background-color:#2f4f4f ;
	font-size:15px;
	margin-left:400px;
	margin-top:10px;
	border-radius:5px;
	color:white;
	
}










.footer{
	width:100%;
	height:500px;
	background-color:black;
	display:flex;
}
.sub1{
	color:white;
	margin-left:250px;
	margin-top:80px;
}
.p1{
	margin-left:-10px;
}

